.thankyou {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5dc;
  color: rgb(55, 55, 55);

  .left {
    height: 100vh;
    flex: 1;
    gap: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f5f5dceb, #f5f5dc9d),
      url(../../images/Hands.png) center;
    background-size: cover;
    background-repeat: no-repeat;

    .img {
      width: 45%;
      height: auto;
    }

    h1 {
      font-size: 35px;
      line-height: 40px;
    }

  }

  .right {
    height: 100vh;
    flex: 1;
    gap: 30px;
    padding: 50px;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .bg-container {
      width: 100%;
      height: 200px;
      background-image: url(../../images/Young_people.png);
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
    }

    .thankMsg {
      width: 60%;
    }

    h2 {
      font-size: 22px;
    }

    form {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;
      padding: 30px;
      background-color: #ffb000;
      border-radius: 10px;

      input {
        width: 90%;
        padding: 10px 10px;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: #f5f5dc;
        transition: transform 0.2s;

        &:hover {
          transform: scale(1.03);
        }
      }

      .error {
        color: red;
      }

      label {
        font-size: 14px;
        text-align: left;
      }

      .button {
        width: 30%;
        padding: 10px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5dc;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          transform: scale(1.03);
          width: 32%;
          background-color: #FFCF9D;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .thankyou {
    height: 100%;
    flex-direction: column;

    .left {
      gap: 20px;
      padding: 10px;
      background-image: none;

      img {
        width: 80%;
      }

      .textContainer {
        // width: 85%;

        h1 {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 20px;
        }
      }
    }

    .right {
      padding: 30px;
      background-image: none;

      h2 {
        font-size: 14px;
      }

      p {
        font-size: 12px;
      }

      form {
        width: 80%;

        label {
          display: none;
        }

        input {
          width: 90%;
        }

        select {
          width: 50%
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width:1024px) {
  .thankyou {
    flex-direction: column;
    height: 100vh;

    .left {
      height: auto;
      padding: 20px;
      background-image: none;

      img {
        width: 30%;
      }

      h1 {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px;
      }

      p {
        font-size: 14px;
      }
    }

    .right {
      padding: 20px;
      gap: 5px;
      background-image: none;

      h2 {
        font-size: 14px;
      }

      form {
        margin-bottom: 20px;

        label {
          display: none;
        }


      }
    }
  }
}