* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.content {
  background-color: rgba(245, 245, 220, 0.247);

  display: flex;

  .menuCont {
    flex: 2;
    margin-top: 30px;
  }
  .contentCont {
    flex: 10;
    margin: 30px;
  }
}
