.create-new-post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  width: 90%;
  background-color: #e7e7a38e;
  border-radius: 15px;
  h4{
    font-size: 20px;
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    textarea {
      padding: 20px;
      outline: none;
      border: none;
      border-radius: 5px;
      background-color: rgba(251, 251, 246, 0.784);
      width: 100%;
      height: 120px;
    }

    input[type="submit"] {
      background: #ffae0091;
      color: #37424d;
      border: none;
      border-radius: 5px;
      padding: 8px;
      cursor: pointer;
      transition: background 0.3s;
      font-size: 14px;
      width: 150px;

      &:hover {
        background: #ffb000;
      }
    }

    a {
      text-align: center;
      text-decoration: none;
      color: #37424d;

      &:hover {
        text-decoration: underline;
      }
    }

    .error {
      color: #d9534f;
    }

    .message {
      color: #37424d;
    }
  }
  @media (min-width: 0px) and (max-width: 375px) {
    .create-new-post {
      border: 2px solid red;
    }
  }
}
