.post-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  width: 90%;
  justify-content: center;
  gap: 30px;
  border-radius: 15px;
  background-color: #e7e7a38e;
}

.postCard {
  background-color: rgba(251, 251, 246, 0.784);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  /* box-shadow: 0 12px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 
  6px 6px 10px 0 rgba(92, 91, 91, 0.25),
  -6px -6px 10px 0 rgba(255, 255, 255, 0.3);
  color: #004225;
  transition: background-color 0.3s;
  cursor: pointer;

  &:hover {
    box-shadow: 
    inset -6px -6px 10px 0 rgba(255, 255, 255, 0.3),
    inset 6px 6px 10px 0 rgba(92, 91, 91, 0.25); 
  }

  p {
    margin: 0;
  }

  h3 {
    margin-top: 10px;
  }

  a {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  #date {
    float: right;
    font-size: 14px;
  }
  .icon {
    margin: 0 10px;
    padding: 5px;
    font-size: 40px;
    color: #004225;
    transition: all 0.3s;

    &:hover {
      color: #ffb000;
      font-size: 42px;
      font-weight: bold;
      transform: scale(1.1);
    }
  }
  .post-content,
  .post-owner-name {
    padding: 10px;
  }
  .post-owner-name {
    font-family: "Belanosima", sans-serif;
      font-weight: 400;
  }

  .post-footer {
    margin: 5px;
  }
  .post-edit-delete-save {
    float: right;
  }
}
