.newsfeed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;

  h1 {
    font-size: 40px;
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
  }

  .opening-sentence {
    font-size: 20px;
    @media (max-width: 768px) {
      font-size: 16px;
      text-align: center;
    }
  }
}
