.login {
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5dc;
    color: rgb(55, 55, 55);

    .left {
        height: 100%;
        flex: 1;
        gap: 150px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(#f5f5dceb, #f5f5dc9d),
            url(../../images/Hands.png) center;
        background-size: cover;
        background-repeat: no-repeat;

        .logo {
            width: 45%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        .textContainer {
            width: 65%;


            h1 {
                width: 65%;
                font-size: 35px;
                line-height: 40px;
                margin-bottom: 20px;
                text-align: center;
                font-family: 'Belanosima', sans-serif;
                font-weight: 400;
            }

            p {
                font-size: 18px;
            }
        }
    }

    .right {
        height: 100%;
        flex: 1;
        display: flex;
        padding: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 0 !important;

        img {
            // width: 100%;
            max-width: 100%;
            height: auto;
        }

        .right-top {
            height: fit-content;
            display: flex;
            flex: auto;
            gap: 40px;
            flex-direction: column;
            align-items: center;
            justify-content: center;


            h2 {
                font-size: 22px;
                font-family: 'Belanosima', sans-serif;
                font-weight: 400;
            }

            form {
                width: 70%;
                gap: 15px;
                padding: 30px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #ffb000;
                border-radius: 10px;

                .button {
                    border: none;
                    border-radius: 6px;
                    background-color: #f5f5dc;
                    font-weight: bold;
                    cursor: pointer;

                    //transition: transform 0.3s;
                    &:hover {
                        transform: scale(1.03);
                        background-color: #ffcf9d;
                        width: 100%;
                    }
                }

                label {
                    font-size: 14px;
                    text-align: left;
                }

                input {
                    width: 100%;
                    padding: 10px 10px;
                    border: none;
                    outline: none;
                    border-radius: 6px;
                    background-color: #f5f5dc;
                    // transition: transform 0.2s;

                    &:hover {
                        transform: scale(1.03);
                    }
                }

                .error {
                    color: red;
                }


            }

            .signUp {
                display: flex;
                justify-content: flex-end;
                // align-items: center;
                width: 60%;
                padding: 0 20px;

                .button {
                    padding: 10px;
                    border: none;
                    border-radius: 6px;
                    background-color: #ffb000;
                    font-weight: bold;
                    cursor: pointer;
                    width: 150px;
                }

            }

        }

    }
}

@media (max-width: 425px) {
    .login {
        height: 100%;
        flex-direction: column;

        .left {
            gap: 20px;
            background-image: none;

            img {
                width: 80%;
            }

            .textContainer {
                width: 65%;

                h1 {
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 20px;
                    text-align: center;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .right {
            padding: 30px;

            img {
                max-width: 100%;
                height: auto;
            }

            .right-top {
                h2 {
                    font-size: 14px;
                }

                form {
                    width: 80%;
                    padding: 20px;
                    margin-bottom: 40px;

                    label {
                        display: none;
                    }

                }

                .signUp {
                    display: flex;
                    justify-content: flex-end;
                    // align-items: center;
                    width: 90%;
                    padding: 0 15px;

                    .button {
                        padding: 5px;
                        border: none;
                        border-radius: 6px;
                        background-color: #ffb000;
                        font-weight: bold;
                        cursor: pointer;
                        width: 150px;
                    }

                }


            }
        }
    }
}


@media (min-width: 426px) and (max-width:1024px) {
    .login {
        height: 100vh;
        flex-direction: column;

        .left {
            gap: 20px;
            background-image: none;
            padding: 10px;

            img {
                width: 30%;
            }

            .textContainer {
                width: 65%;

                h1 {
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 20px;
                }

                p {
                    font-size: 14px;
                }
            }
        }

        .right {
            padding: 20px;
            gap: 5px;
            background-image: none;

            h2 {
                font-size: 14px;
            }

            form {
                margin-bottom: 20px;

                label {
                    display: none;
                }

                .button {
                    width: 25%;

                    &:hover {
                        width: 27%;
                    }
                }
            }
        }
    }
}