.main-container {
    background-color: rgba(245, 245, 220, 0.57);
    display: flex;
    height: 92vh;



    .addUser {
        display: flex;
        flex: 5;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
        padding-right: 300px;

        h3 {
            font-size: 22px;
            font-family: 'Belanosima', sans-serif;
            font-weight: 400;
        }

        form {
            width: 60%;
            gap: 15px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #ffb000;
            border-radius: 10px;

            input,
            label {
                width: 90%;
            }

            input {
                padding: 10px 10px;
                border: none;
                outline: none;
                border-radius: 6px;
                background-color: #f5f5dc;

                //transition: transform 0.3s ease-in;
                &:hover {
                    transform: scale(1.03);

                }
            }

            label {
                font-size: 14px;
            }

            .button {
                width: 30%;
                border: none;
                border-radius: 6px;
                background-color: #f5f5dc;
                font-weight: bold;
                cursor: pointer;

                //transition: transform 0.3s;
                &:hover {
                    transform: scale(1.03);
                    //width: 32%;
                    background-color: #ffcf9d;
                }
            }

            .error {
                color: red;
            }
        }
    }



    .leftmenu {
        flex: 3;
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 80px;

    }
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
    }

    p {
        margin: 8px 0;
        font-size: 14px;
    }

    .addUser {
        padding: 20px;
        width: 100%;
        padding: 0;

    }

    .leftmenu {
        display: none;
    }




}