.main-container {
  background-color: rgba(245, 245, 220, 0.57);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;

  &.dark-mode {
    background-color: #3d3a3a;
  }

  h3 {
    font-size: 22px;
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
    padding: 20px;
  }

  p {
    padding: 16px;
  }

  .addUser {
    display: flex;
    flex: 5;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 70%;

    form {
      width: 100%;
      padding: 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      justify-content: center;
      align-items: flex-start;
      background-color: #ffb000;
      border-radius: 10px;

      &.dark-mode {
        background-color: rgb(40, 39, 39);
      }

      input,
      .myRow {
        width: calc(50% - 10px);
        padding: 10px;
        border: none;
        outline: none;
        border-radius: 6px;
        cursor: text;
        background-color: #f5f5dc;

        

        &:hover {
          transform: scale(1.03);
        }

        &:focus {
          border: 1px solid black;
        }
      }

      label {
        font-size: 14px;
        font-weight: 700;
        border-bottom: 1px solid #3a383881;
        width: calc(40% - 10px);
        padding: 8px;
      }

      .myRow {
        display: flex;
        background-color: #ffb000;
        &.dark-mode {
          background-color: rgb(40, 39, 39);
        }
     
        input {
          width: 10%;
          cursor: pointer;
      
        }
        &:hover {
          transform: none;
        }
      }

      .button {
        width: 30%;
        margin-top: 10px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5dc;
        font-weight: bold;
        cursor: pointer;

        transition: transform 0.3s;

        &:hover {
          transform: scale(1.03);
          background-color: #ffcf9d;
        }
      }

      .error {
        color: red;
        width: 100%;
        text-align: center;
      }
    }
  }

  .leftmenu {
    flex: 3;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 80px;
  }
}

@media screen and (max-width: 1440px) {
  .main-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    .addUser {
      width: 90%;
      padding: 10px;

      h3 {
        font-size: 18px;
      }

      p {
        font-size: 12px;
        margin: 8px 0;
      }
    }
  }

  .leftmenu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .main-container {
    h3 {
      font-size: 18px;
    }

    p {
      font-size: 12px;
      margin: 8px 0;
    }

    .addUser {
      padding: 10px;

      form {
        padding: 10px;
        margin-bottom: 60px;

        input {
          width: 100%;
          font-size: 12px;
        }

        label {
          font-size: 12px;
          width: 100%;
        }

        .button {
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
