.profileLeftCont {
  //border: 4px solid rgba(81, 255, 0, 0.929);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;

  .header {
    //border: 4px solid rgb(0, 21, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
   
    h2 {
      font-size: 32px;
    }
    span {
      font-size: 18px;
      line-height: 26px;
    }
  }

  .infoSec {
    display: flex;
    flex-direction: column;
    width: 100%;
    //border: 2px solid rgb(0, 21, 255);
    gap: 15px;
    .infoItem {
      .infoKey {
        font-size: 22px;
        font-weight: 700;
        margin-right: 20px;
        color: #555;
      }
      .infoValue {
        font-size: 18px;
      }
    }
  }
  a {
    width: 100px;
    background: #ffae0091;
    color: #37424d;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    text-align: center;
    //position: absolute;
    &:hover {
      background: #ffb000;
    }
   
  }
}
