.register {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5dc;
  color: rgb(55, 55, 55);
  .left {
    height: 100%;
    flex: 1;
    gap: 150px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#f5f5dceb, #f5f5dc9d),
      url(../../images/Hands.png) center;
    background-size: cover;
    background-repeat: no-repeat;

    .logo {
      width: 45%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    h1 {
      width: 65%;
      font-size: 35px;
      line-height: 40px;
    }
  }
  .right {
    width: 100%;
    flex: 1;
    gap: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 22px;
    }
    form {
      width: 80%;
      gap: 15px;
      padding: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffb000;
      border-radius: 10px;

      input, label, .wrapper{
        width: 90%;
      }
      input {
        padding: 10px 10px;
        border: none;
        outline: none;
        border-radius: 6px;
        background-color: #f5f5dc;
        //transition: transform 0.3s ease-in;
        &:hover {
          transform: scale(1.03);
          //width: 92%; 
        }
      }
      label {
        font-size: 14px;
      }
      .wrapper {
        gap: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .selection {
          width: 100%;
          display: flex;
          justify-content: space-around;
          align-items: center;
          select {
            border: none;
            outline: none;
            border-radius: 6px;
            background-color: #f5f5dc;
            width: 90%;
            padding: 10px 15px;
          }
        }
      }
      .button {
        width: 30%;
        border: none;
        border-radius: 6px;
        background-color: #f5f5dc;
        font-weight: bold;
        cursor: pointer;
        //transition: transform 0.3s;
        &:hover {
          transform: scale(1.03);
          //width: 32%;
          background-color: #ffcf9d;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .register {
    height: 100%;
    flex-direction: column;
    .left {
      gap: 20px;
      background-image: none;
      .logo {
        width: 80%;
      }
      h1 {
        width: 85%;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }
    }
    .right {
      padding: 30px;
      h2 {
        font-size: 14px;
      }
      form {
        width: 100%;
        padding: 20px;
        margin-bottom: 40px;
        label {
          display: none;
        }
        .wrapper {
          width: 100%;
          flex-direction: column;
        }
        .button {
          width: 40%;
          &:hover {
            width: 42%;
          }
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .register {
    height: 100%;
    flex-direction: column;
    .left {
      gap: 20px;
      background-image: none;
      .logo {
        width: 65%;
      }
      h1 {
        width: 85%;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
      }
    }
    .right {
      padding: 20px;
      h2 {
        font-size: 14px;
      }
      form{
        margin-bottom: 60px;
        label{
          display: none;
        }
        .wrapper{
          .selection {
            width: 100%;
            select{
              width: 100%;
            }

          }
        }
        .button {
          width: 25%;
          &:hover {
            width: 27%;
          }
        }
       
      }
      
      /* form {
        width: 80%;
        padding: 30px;
        
        label {
          display: none;
        }
        
          flex-direction: column;
          .selection{
            width: 80%;
          }
        }
        .button {
          width: 40%;
          &:hover {
            width: 42%;
          }
        }
      }  */
    }
  }
}
