.products-container {
  //display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 245, 220, 0.743);
  justify-content: center;
  border-radius: 10px;
  border-radius: 15px;
  padding: 20px;
  // border: 2px solid pink;
  width: 100%;

  h1 {
    font-family: "Belanosima", sans-serif;
  }
}

.section {
  //border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
  button {
    align-self: center;
    width: 120px;
    background: #ffae0091;
    color: #37424d;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
    //position: absolute;

    &:hover {
      background: #ffb000;
    }
  }
}

.cards-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  background-color: rgba(251, 251, 246, 0.784);
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  &:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
  }

  .card {
    // flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 10px;
    gap: 10px;
    cursor: pointer;
    background-color: #f8f8f81e;
    border-radius: 10px;
    //border: 2px solid yellow;
    color: black;

    p {
      font-size: 14px;
    }

    h2 {
      text-align: center;
      margin-bottom: 7px;
      font-family: "Belanosima", sans-serif;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.scroll-to-top-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  font-size: 40px;
}

.scroll-to-top {
  background-color: #ffae00b6;
  color: #004225;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 24px;
}

.scroll-to-top:hover {
  background-color: #004225bf;
  color: #ffae00;
}

.LikiTrike-card-img {
  background-image: url("./image/doona1.jpg");
  &:hover {
    background-image: url("./image/doona2.jpg");
  }
}

.EEZY-card-img {
  background-image: url("./image/straller1.png");
  &:hover {
    background-image: url("./image/straller4.jpg");
    background-size: contain;
  }
}

.chair-card-img {
  background-image: url("./image/chair1.jpg");
  &:hover {
    background-image: url("./image/chair3.jpg");
  }
}

.germanBooks-card-img {
  background-image: url("./image/german-book1.png");
  background-size: contain;
  &:hover {
    background-image: url("./image/german-book2.png");
    background-size: contain;
  }
}

.car-card-img {
  background-image: url("./image/car1.png");
  &:hover {
    background-image: url("./image/car2.png");
  }
}

.tickets-card-img {
  background-image: url("./image/ticket1.png");

  &:hover {
    background-image: url("./image/ticket2.png");
    background-size: contain;
  }
}

.bicycle-card-img {
  background-image: url("./image/bicycle1.png");

  &:hover {
    background-image: url("./image/bicycle2.png");
  }
}

.sofa-card-img {
  background-image: url("./image/sofa1.png");
  background-size: contain;

  &:hover {
    background-image: url("./image/sofa2.png");
  }
}

.mobile-card-img {
  background-image: url("./image/mobile1.jpg");
  background-size: contain;

  &:hover {
    background-image: url("./image/mobile2.jpg");
  }
}
.LikiTrike-card-img,
.EEZY-card-img,
.chair-card-img,
.germanBooks-card-img,
.car-card-img,
.tickets-card-img,
.bicycle-card-img,
.sofa-card-img,
.mobile-card-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
  width: 20rem;
  height: 15rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    -23px 0 20px -23px rgba(0, 0, 0, 0.8), 23px 0 20px -23px rgba(0, 0, 0, 0.8),
    inset 0 0 40px rgba(0, 0, 0, 0.1);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 174, 0, 0.6); /* Adjust the alpha value */
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 20px rgba(255, 176, 0, 0.7), 0 0 30px rgba(255, 176, 0, 0.5); /* Adjust the alpha value */
    background-color: #ffae0091;
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(255, 174, 0, 0.6); /* Adjust the alpha value */
    background-color: #ffae0091;
  }
}

.button-container {
  display: flex;
  justify-content: center;

  .btn {
    background: #ffae0091;
    margin: 40px 0 60px 0;
    animation: pulse 1.5s infinite;
    align-self: center;
    width: 170px;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }

  .btn:hover {
    animation: none;
    background-color: #ffb000;
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(255, 176, 0, 0.6), 0 0 60px rgba(255, 176, 0, 0.4); /* Adjust the alpha value */
  }
}
