.contact {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5dc;
  color: rgb(55, 55, 55);

  .contact-left {
    padding-top: 150px;
    height: 100%;
    flex: 1;
    gap: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(#f5f5dceb, #f5f5dc9d),
      url(../../images/Hands.png) center;
    background-size: cover;
    background-repeat: no-repeat;

    .logo {
      width: 45%;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }

    .textContainer {
      width: 70%;
      gap: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h2 {
        font-size: 40px;
        font-family: "Belanosima", sans-serif;
        font-weight: 500;
      }

      p {
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
      }
    }
  }

  .contact-right {
    height: 100%;
    flex: 1;
    display: flex;
    padding: 0 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

    img {
      max-width: 100%;
      height: auto;
    }

    .right-top {
      height: fit-content;
      display: flex;
      flex: auto;
      gap: 40px;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        font-size: 30px;
        font-family: "Belanosima", sans-serif;
        font-weight: 400;
      }

      .msg {
        width: 70%;

        p {
          font-size: 20px;
          text-align: center;
          line-height: 26px;
        }
      }

      .contact-wrapper {
        width: 60%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        a {
          color: rgb(55, 55, 55);
          text-decoration: none;
          padding: 10px;
          cursor: pointer;
          background-color: #f5f5dc;

          .card {
            padding: 20px;
            background-color: #ffb000;
            border-radius: 10px;
            text-align: center;
            line-height: 30px;
            font-weight: bold;

            &:hover {
              transform: scale(1.03);
              background-color: #ffcf9d;
            }

            p {
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 425px) {
  .contact {
    height: 100%;
    flex-direction: column;

    .contact-left {
      padding-top: 0;
      gap: 50px;
      background-image: none;

      .textContainer {
        width: 85%;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h2 {
          font-size: 30px;
          line-height: 34px;
          text-align: center;
        }

        p {
          font-size: 20px;
          line-height: 24px;
          text-align: center;
        }
      }
    }

    .contact-right {
      margin-top: 40px;
      padding: 0 30px;

      .right-top {
        gap: 20px;

        h2 {

          font-size: 24px;
          text-align: center;
        }

        .msg {
          width: 100%;

          p {
            font-size: 16px;
            line-height: 22px;
          }
        }

        .contact-wrapper {
          grid-template-columns: 1fr;
          gap: 10px;

          a {
            .card {
              line-height: 20px;

              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 426px) and (max-width: 1024px) {
  .contact {
    height: 100%;
    flex-direction: column;

    .contact-left {
      width: 100%;
      padding-top: 0;
      gap: 50px;
      background-image: none;

      .textContainer {
        width: 80%;
        justify-content: center;
        align-items: center;
        gap: 20px;

        h2 {
          font-size: 36px;
          line-height: 40px;
          text-align: center;
        }

        p {
          font-size: 20px;
          line-height: 24px;
          text-align: center;
        }
      }
    }

    .contact-right {
      margin-top: 40px;
      padding: 0 30px;

      .right-top {
        gap: 30px;

        h2 {
          font-size: 24px;
          text-align: center;
        }

        .msg {
          width: 80%;

          p {
            font-size: 16px;
            line-height: 22px;
          }
        }

        .contact-wrapper {
          grid-template-columns: 1fr 1fr;
          gap: 10px;

          a {
            .card {
              line-height: 20px;

              p {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

