.leftbar {
    width: 50%;
    padding: 30px;
    background-color: #f4f4ee;
    

  }
  
  .leftbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .birthdayContainer {
    display: flex;
    align-items: center;
  }
  
  .birthdayImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .birthdayText {
    font-weight: 300;
    font-size: 15px;
  }
  
  .leftbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .leftbarTitle{
      margin-bottom: 20px;
  }
  
  .leftbarFriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .leftbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .leftbarInfo{
    margin-bottom: 30px;
  }
  
  .leftbarInfoItem{
    margin-bottom: 10px;
  }
  
  .leftbarInfoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .leftbarInfoValue{
    font-weight: 300;
  }
  
  .leftbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .leftbarFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .leftbarFollowingImg{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
  }