@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

.navbar {
  font-family: 'Belanosima', sans-serif;
  background-color: #F5F5DC;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px 10px;
  position: fixed;
    height: 100px;
width: 100%;
  top: 0;

  .left,
  .right {
    a {
      margin: 0 15px;
      font-size: 16px;
      color: #3D3A3A;
      text-decoration: none;
    }
  }

  .center {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 120px;
      max-height: 400px;

    }

    a {
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    width: 100%;
    padding: 10px 10px;
    justify-content: right;

    .center {
      display: none;
    }

    .left,
    .right {
      a {
        font-size: 18px;
      }
    }

  }
}