@import url("https://fonts.googleapis.com/css2?family=Belanosima&display=swap");

.navbar {
  font-family: "Belanosima", sans-serif;
  font-size: 12px;
  background-color: #f5f5dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  position: sticky;
  height: 50px;
  width: 100%;
  top: 0;
  z-index: 999;

  .left,
  .right {
    a {
      margin: 0 15px;
      
      color: #3d3a3a;
      text-decoration: none;
    }
  }

  @media (min-width: 768px) {
    width: 100%;
    padding: 10px 10px;
    justify-content: right;

    .left,
    .right {
      a {
        font-size: 14px;
      }
    }
  }
}
